body {
	text-align: center;
}

.text-center {
	text-align: center !important;
}

.info-box {
	color: #555B6E;
	background-color: #BEE3DB;
}

.action-buttons {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-webkit-tap-highlight-color:transparent;
	cursor: hand;
	color: #FAF9F9;
	background-color: #89B0AE;
}

.card {
	max-height: 75%;
}

.mountain {
    width: 100%; /* you can use % */
    height: auto;
    text-align: center;
}