body {
	text-align: center;
}

.text-center {
	text-align: center !important;
}

.info-box {
	color: #D4D2D5;
	background-color: #6C698D;
}

.action-buttons {
	cursor: hand;
	color: #6C698D;
	background-color: #D4D2D5;
}