body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: lato;
	background-color: #F6F6F6;
}

h1 {
	font-size: 70px;
	color: #4A5961;
}

h3 {
    color: #4A5961;
}

.banner {
    background-color: white;
    margin: 0;
    border-radius: 5px;
}

.banner > .container > p {
	font-size: 17px;
	color: #4A5961;
	text-align: left;
}

.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: white;
    color: #4A5961;
    text-decoration: none;
    font-size: 25px;
    background-color: #F6F6F6;
}

.navbar-brand li a:hover {
	color: #4A5961;
    font-family: 'Lato', sans-serif;
}

.navbar-toggle {
    color: #4A5961;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}

.navbar-nav {
    float: right;
    margin-right: 10px;
    line-height: 50px;
}

.navbar-nav li a {
    color: #4A5961;
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
    background-color: light-gray;
}

.panel {
    background-image: none;
    background-color: white;
    border: none;
    color: #4A5961;
}


.panel-heading {
    border-bottom: 1px solid #4A5961;
}

.panel > .panel-heading {
    font-size: 25px;
	color: #4A5961;
	background-color: #F6F6F6;
    border-bottom: 1px solid #4A5961;
}

.table {
    text-align: center;
}

.thumbnail {
    border: none;
}

th {
    text-align: center;
}

p {
    color: #4A5961;
}

#inputName {
	border: 1px solid #4A5961;
}
#inputEmail {
	border: 1px solid #4A5961;
}
#inputSubject {
	border: 1px solid #4A5961;
}
#inputMessage {
	border: 1px solid #4A5961;
}

#submitButton {
	border: 1px solid #4A5961;
	color: #4A5961;
}

.col-md-9 {
	color: #4A5961;
}

.col-md-3 {
    font-size: 25px;
	color: #4A5961;
}

.col-md-3 > ul {
    background-color: white;
    font-size: 15px;
}

a {
    color: #4A5961;
}