body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: lato;
	background-color: white;
}

h1 {
	font-size: 70px;
	color: white;
}

.banner {
    background-color: rgb(30, 178, 192);
    margin: 0;
    border-radius: 5px;
}

p {
	font-size: 17px;
	color: white;
	text-align: left;
}

.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: white;
    color: rgb(30, 178, 192);
    text-decoration: none;
    font-size: 25px;
}

.navbar-brand li a:hover {
	color: rgb(30, 178, 192);
    font-family: 'Lato', sans-serif;
    background-color: light-gray;
}

.navbar-toggle {
    color: #009b9b;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}

.navbar-toggle:hover {
    background-color: #373737;
}

.navbar-nav {
	float: right;
    margin: 0;
    line-height: 50px;
    text-align: bottom;
}

.navbar-nav li a {
    color: rgb(30, 178, 192);
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
    background-color: light-gray;
}

.panel {
    background-image: none;
    background-color: white;
    border: 1px solid rgb(30, 178, 192);
    color: rgb(30, 178, 192);
}

.panel > .panel-heading {
	color: white;
	background-color: rgb(30, 178, 192);
}

#inputName {
	border: 1px solid rgb(30, 178, 192);
}
#inputEmail {
	border: 1px solid rgb(30, 178, 192);
}
#inputSubject {
	border: 1px solid rgb(30, 178, 192);
}
#inputMessage {
	border: 1px solid rgb(30, 178, 192);
}

#submitButton {
	border: 1px solid rgb(30, 178, 192);
	color: rgb(30, 178, 192);
}

.col-md-9 {
	color: rgb(30, 178, 192);
}

.col-md-3 {
	color: white;
}

.col-md-3 > ul {
	border: 1px solid rgb(30, 178, 192);
}

div.panel-heading {
	background-color: rgb(30, 178, 192);
}